@page "/videos/{PlaylistName}/{PlaylistId}"
@using DotNetFlix.Shared;
@using WebUI.Helpers;
@inject IHttpClientFactory clientFactory

<PageTitle>Videos</PageTitle>

<h1>@PlaylistName</h1>

@if (videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Thumbnail</th>
                <th>Premium</th>
                <th>Restricted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in videos)
            {
                <tr>
                    <td>@video.Title</td>
                    <td>@video.Description</td>
                    <td><img src="@video.ThumbnailUrl" /></td>
                    <td>@video.IsPremium</td>
                    <td>@video.IsRestricted</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public string PlaylistId { get; set; }

    [Parameter]
    public string PlaylistName { get; set; }
    
    private VideoDto[]? videos;

    private HttpClient client;

    protected override async Task OnInitializedAsync()
    {
        client = clientFactory.CreateClient(AuthHandler.AuthenticatedClient);
        
        videos = await client.GetFromJsonAsync<VideoDto[]>($"Videos/playlists/{PlaylistId}");
    }
}

